NIMBLE_API_KEY=
RAWTREE_API_KEY=rt_...
RAWTREE_API_URL=https://api.rawtree.com
RAWTREE_DATABASE=default
RAWTREE_TABLE=local_events
BFL_API_KEY=
NEIGHBORHOOD=Hayes Valley, San Francisco
DEMO_MODE=false
